﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="logindisplay">
                @if (Request.IsAuthenticated)
                {
                    <text>Welcome <strong>@User.Identity.Name</strong>!
                    [ @Html.ActionLink("Logout", "logout", "auth") ]</text>
                }
                else
                {
                    @:[ @Html.ActionLink("Login", "login", "auth") ]
                }

            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer></footer>
    </div>
</body>
</html>
