﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhóm của sinh viên</h2>
@using (Html.BeginForm("SaveSession", "users", FormMethod.Post))
{
    <fieldset>
    <legend>Nhóm 1</legend>
    <table border="1" width="30%">
        <tr style="align-content:center">
            <th>MSSV</th>
            <th>Họ tên</th>
        </tr>
        <tr style="align-content:center">
            <td>1212000</td>
            <td>Nguyễn Văn A</td>
        </tr>
        <tr style="align-content:center">
            <td>1212001</td>
            <td>Nguyễn Thị B</td>
        </tr>
        <tr style="align-content:center">
            <td>1212002</td>
            <td>Lê Văn C</td>
        </tr>
    </table>
</fieldset>
    <fieldset>
        <div>
            Nhập mssv cần xem chi tiết: @Html.TextBox("sessionValue")
        </div>
        <div>
            <input type="submit" id="submitToMethod1" name="submit" value="Chi tiết" />
        </div>
        @ViewData["error"]
        <table border="1" width="30%">
            <tr style="align-content:center">
                <th>MSSV</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
            </tr>
            <tr style="align-content:center">
                <td>@ViewData["mssv"]</td>
                <td>@ViewData["name"]</td>
                <td>@ViewData["bday"]</td>
            </tr>
        </table>
    </fieldset>
}